:root {
  --green700: #388e3c;
  --green500: #4caf50;
  --green300: #81c784;
  --cyan700: #0097a7;
  --blue700: #1976d2;
  --deepOrange300: #ff7043;
  --amber500: #ffc107;
  --black700: #26282e;
  --black500: #373740;
  --black300: #424247;
  --roundSanSerif: "Kosugi Maru", sans-serif;
}
.App {
  background-color: var(--black500);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
}

@keyframes LoadingThrob {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.loading {
  color: var(--green500);
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: LoadingThrob infinite alternate 1s linear;
  }
}

.centerAlignedColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 10px;
  font-size: 2em;
  font-family: var(--roundSanSerif);
  line-height: 1.4em;
}

.destinationLabel {
  color: var(--green700);
  font-size: 0.8em;
}

.stopTimeList {
  background-color: var(--black700);
  border-radius: 4px;
  border: 1px solid var(--black300);
  padding: 10px;
  font-family: var(--roundSanSerif);
}

.stopTimeRow {
  color: var(--green300);
  display: grid;
  grid-template-columns: 44% 10% min-content auto;
  padding: 8px;
}

.stopTimeRow:first-child {
  color: var(--green700);
}

.hour {
  text-align: right;
}

.colon {
  text-align: center;
}

.minuteAndNote {
  display: flex;
  align-items: baseline;
}

.relative {
  position: static;
}

.stopTimeNote {
  font-size: 12px;
  margin-left: 0.5em;
}

.countDown {
  position: absolute;
  top: 0;
  height: 100vh;
  left: 0;
  width: 30px;
  box-sizing: border-box;
  border-right: 10px solid var(--black700);
  background-color: var(--black700);
  background: repeating-linear-gradient(
    180deg,
    var(--black300),
    var(--black300) 1px,
    var(--black700) 1px,
    var(--black700) calc(5vh - 2px)
  );
}

.currentTime {
  color: white;
}
