
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes LoadingThrob {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

.loading {
  color: seagreen;
}

@media (prefers-reduced-motion: no-preference) {
  .loading {
    animation: LoadingThrob infinite alternate 1s linear;
  }
}